@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "tailwindcss/utilities";

html {
    background-image: url('../../public/images/arcade-bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    font-size: 16px;
    line-height: 1.5;
}

.pepe {
    transform: translate(-50%, -50%);
}

.nes-container {
    background-color: rgb(00 00 00 / var(--tw-bg-opacity, 1)) !important;
}